@import "../../styles/variables.scss";
@import "../../styles/media.scss";

.root {
    min-width: 100vw;
    margin-bottom: 100px;
    background: #ffbd9e;
    height: 655px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;

    & .swiper {
        width: 100%;
        height: 400px;

        & .slide {
            display: flex;
            align-items: center;
            max-width: 438px;
            transform: scale(0.8);
            justify-content: center;

            & .zoom {
                transform: scale(1.2);
                transition: 0.5s ease-in;
            }

            & .activeSlide {
                position: relative;
                max-width: 438px;
                height: auto;

                & .labelImg {
                    width: 277px;
                    height: 243px;
                    filter: brightness(85%);
                    -webkit-filter: brightness(85%);
                }

                & .contentCard {
                    background-color: #f7f3f4;
                    box-shadow: 0px 0px 0px 20px rgba(255, 255, 255, 0.3);
                    border-radius: 13% 87% 37% 63% / 57% 38% 62% 43% !important;
                    width: 380px;
                    height: 283px;
                    display: flex;
                    flex-direction: column;
                    gap: 8px;
                    justify-content: center;
                    align-items: center;
                    padding: 40px;

                    @include media(laptop) {
                        width: 438px;
                        height: 383px;
                    }

                    & span {
                        font-size: 24px;
                        opacity: 0.9;
                        font-weight: 600;
                    }
                }

                & .defaultImage {
                }

                & .animateImageActiveLabel {
                    position: absolute;
                    top: 0;
                    -webkit-animation: slide-bck-tl 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) both;
                    animation: slide-bck-tl 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) both;
                }
            }
        }
    }
    // control slider
    & .sliderControl {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        & .rightArrow {
            cursor: pointer;
            border-right: 2px solid;
            border-bottom: 2px solid;
            height: 15px;
            width: 15px;
            transform: rotate(-45deg);
        }

        & .leftArrow {
            cursor: pointer;
            border-right: 2px solid;
            border-bottom: 2px solid;
            height: 15px;
            width: 15px;
            transform: rotate(-220deg);
        }
    }
}

@-webkit-keyframes slide-bck-tl {
    0% {
        -webkit-transform: translateZ(0) translateY(0) translateX(0);
        transform: translateZ(0) translateY(0) translateX(0);
    }
    100% {
        -webkit-transform: translateZ(-400px) translateY(-200px) translateX(-200px);
        transform: translateZ(-400px) translateY(-200px) translateX(-200px);
    }
}
@keyframes slide-bck-tl {
    0% {
        transform: scale(1);
        transform-origin: 100% 0%;
    }
    100% {
        transform: scale(0.5);
        transform-origin: 0% -20%;
    }
}

.slide-bck-tl {
    -webkit-animation: slide-bck-tl 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) both;
    animation: slide-bck-tl 0.45s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
