@import "../../styles/variables.scss";
@import "../../styles/media.scss";

.buttonBase {
    border: none;
    padding: 15px;
    font-size: 12px;
    box-shadow: 0px 30px 40px rgba(240, 101, 126, 0.05);
    border-radius: 40px;
    font-weight: 700;
    font-family: "Poppins", sans-serif;
    letter-spacing: 1px;

    @include media(mobile) {
        padding: 13px 48px;
        font-size: inherit;
    }
}

.primary {
    background-color: $bgButtonPrimary;
    color: white;
}
.secondary {
    background-color: white;
}
