@import '../../styles/media.scss';

.root {
  @include container();
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 89px 30px;

  & .header {
    &:first-child {
      width: 100%;

      @include media(laptop) {
        width: inherit;

        & .content {
          flex-direction: column;
        }
      }

      & h1 {
        margin-bottom: inherit;
      }

      & .content {
        flex-direction: row;
        gap: 10px;
      }
    }

    & h1 {
      font-size: 28px;
      font-weight: 700;
      height: 50px;
      line-height: 48px;
      margin-bottom: 32px;

      @include media(laptop) {
        font-size: 34px;
      }
    }

    & h2 {
      align-items: flex-end;
      display: flex;
      font-size: 20px;
      font-weight: 700;
      height: 50px;
      letter-spacing: .3px;
      line-height: 32px;
      margin-bottom: 37px;
    }

    & .content {
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      font-size: 12px;
      font-weight: 400;
      letter-spacing: .3px;
      line-height: 24px;
      min-height: 20px;

      @include media(laptop) {
        font-size: 13px;
        min-height: 40px;
      }

      & .socialMedia {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
