@import '../../styles/variables.scss';
@import '../../styles/media.scss';

.root {
  background-color: $bgSectionPrimary;
  height: 100%;
  padding-top: 100px;

  & .container {
    @include container();

    & .wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      padding-top: 32px;

      @include media(laptop) {
        flex-direction: row;
        gap: 100px;
        padding-bottom: 96px;
      }

      & .leftItem {
        display: flex;
        flex: 1;
        flex-direction: column;
        gap: 60px;

        & .heroTitle {
          height: auto;
          width: 100%;
        }

        & .heroDescription {
          line-height: 32px;
          max-width: 448px;
        }
      }

      & .rightItem {
        flex: 1;
        min-height: 565px;
        position: relative;
      }
    }
  }
}
