//section
$bgSectionPrimary: #f7f3f4;
$bgSectionSecondary: #ffbd9e;

//button
$bgButtonPrimary: #f2726c;
$bgButtonPrimaryDarker: #da635d;

//card
$bgModalColor: #f7f3f4;

//text
$textPrimary: #222433;
