.root {
  align-items: center;
  background-color: white;
  border-radius: 40px;
  box-shadow: 0 30px 40px rgba(240, 101, 126, .05);
  display: flex;
  gap: 13px;
  justify-content: space-between;
  max-width: 448px;
  padding: 8px;

  & svg {
    margin-left: 21px;
  }

  & input {
    border: none;
    flex: 2;
    width: 100%;

    &:focus {
      outline: none;
    }
  }
}
