@import '../../styles/variables.scss';
@import '../../styles/media.scss';

.root {
  overflow: hidden;
  transition-duration: 150ms;
  transition-property: max-height;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
}
