@import "../../styles/variables.scss";
@import "../../styles/media.scss";

.root {
    @include container();

    & .wrapper {
        margin: 100px 0;
        padding: 0 18px;
        display: flex;
        flex-direction: column;

        @include media(laptop) {
            flex-direction: row;
            gap: 104px;
            margin: 192px 0;
        }

        & .leftItem {
            & .title {
                font-size: 26px;
                font-weight: 700;

                @include media(laptop) {
                    font-size: 38px;
                }
            }

            & .description {
                margin-top: 20px;
                font-size: 15px;
                line-height: 175%;
            }

            & .contactButton {
                align-self: flex-start;
                margin-top: 32px;
                text-transform: uppercase;
            }
        }

        & .faqBox {
            & .faqItem {
                border-bottom: 1px solid rgba(30, 26, 32, 0.2);
                -webkit-background-clip: padding-box; /* for Safari */
                background-clip: padding-box;
                padding: 24px 0;

                &:first-child {
                    @include media(laptop) {
                        padding-top: 0;
                    }
                }

                &:last-child {
                    border-bottom: 1px solid rgba(30, 26, 32, 0.2);
                    -webkit-background-clip: padding-box; /* for Safari */
                    background-clip: padding-box;
                }

                //header collapse
                & button {
                    width: 100%;
                    border: none;
                    background: none;
                    text-align: left;

                    //text collapse header
                    & span {
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 24px;
                        font-family: "Poppins";
                        font-style: normal;
                    }

                    & .headerButton {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;

                        & span {
                            max-width: 80%;
                            @include media(laptop) {
                                max-width: inherit;
                            }
                        }

                        & .buttonWrapper {
                            min-width: 40px;
                            background: $bgButtonPrimary;
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            display: flex;
                            align-items: center;
                            justify-content: center;

                            & .plus {
                                transition: 0.5s all;
                                transition-property: transform;
                                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                transition-duration: 150ms;
                            }

                            & .minus {
                                transform: rotate(180deg);
                                transition: 0.5s all;
                                transition-property: transform;
                                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                                transition-duration: 150ms;
                            }
                        }
                    }
                }

                // collapse content
                & .collapseText {
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 25px;
                    padding: 16px 0;
                }
            }
        }
    }
}
